<div id="supported-verification-survey" class="js-show">
  <div class="question">
    <p>
      <strong class="heading-small">Survey:</strong>Would you come in for help with GOV.UK Verify from our staff, if it was available?
      <button id="answer-yes">Yes</button>
      <button id="answer-no">No</button>
    </p>
  </div>
  <div class="thank-you-message">
    <p>Thanks for your feedback.</p>
  </div>
</div>
