<%= page_title 'hub.paused_registration.title' %>
<% content_for :feedback_source, 'PAUSED_REGISTRATION_PAGE' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t 'hub.paused_registration.heading', idp_name: @idp.display_name %></h1>

    <p><%= t 'hub.paused_registration.restart_instructions_html', rp_name: @transaction.rp_name, rp_start_page: @transaction %></p>
    <p><%= t 'hub.paused_registration.username_and_password_instructions', rp_name: @idp.display_name %></p>
  </div>
</div>

